/*autoprefixer used*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html,
body {
  /*this will give a vertical scrollbar by default, so there isn't a little jump when you start entering search terms*/
  height: calc(100%)
}

body {
  font: 100% 'Arimo', sans-serif;
}

input[type=checkbox]+label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
  color: #717171;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label:before {
  content: "\2714";
  border: 0.1em solid rgb(165, 165, 165);
  ;
  border-radius: 0.2em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: unset;
  color: transparent;
  transition: .2s;
}

input[type=checkbox]+label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked+label:before {
  background-color: rgb(103, 115, 223);
  border-color: rgb(103, 115, 223);
  color: #fff;
}

input[type=checkbox]:disabled+label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled+label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

#facet-input {
  border: 1px solid #ccc;
  padding: 5px;
  font: 1em 'Arimo', sans-serif;
  outline: none;
  transition: border 0.5s ease-in-out;
}

#facet-input:focus {
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
}

.image-logo {
  margin-bottom: 20px;
}

.filter-wrapper,
.keyword-wrapper {
  display: flex;
  justify-content: center;
}

.filter-wrapper {
  min-height: 80%;
  flex-flow: column wrap;
  align-items: center;
  position: relative
}

.keyword-wrapper {
  width: 100%;
  position: relative;
}

#keyword {
  border: 1px solid #ccc;
  padding: 10px;
  font: 1.5em 'Arimo', sans-serif;
  width: 50%;
  outline: none;
  transition: border 0.5s ease-in-out
}

#keyword:focus {
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
}

#keyword-button {
  position: absolute;
  right: 26%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.7em;
  color: #8DB9ED
}

#keyword-button:hover {
  color: #ccc
}

.filter-select {
  width: 50%;
  list-style: none;
  font-size: 1.1em;
  color: rgb(105, 105, 105);
  border: 1px solid #ccc;
  border-top: none;
  /*so things don't jump around*/
  position: absolute;
  left: 25%;
  /*Since we know the wrapper will always be 100% height, we can use half of 100% + half the height of the input*/
  top: calc(50% + 99px);
  /*for a better calculation use JS.  I'm calculating half of the body height - half the height of the input - li padding*/
  max-height: calc(50% - 15px);
  overflow-y: auto;
  background: #fff
}

.filter-select-list {
  cursor: pointer;
  padding: 5px 10px;
}

.filter-select-list:hover {
  background: rgb(155, 155, 155);
  color: #fff
}

.no-value {
  border: none
}

.list-highlight,
.list-highlight:hover {
  background: rgb(55, 55, 55);
  color: #fff
}

/*some simple responsive designs*/
@media only screen and (max-width: 768px) {

  .filter-select,
  #keyword {
    width: 80%;
  }

  #keyword {
    font-size: 1.3em
  }

  .filter-select {
    font-size: 0.9em;
    left: 10%;
    top: calc(50% + 23px);
  }

  #keyword-button {
    right: 11%
  }
}

@media only screen and (max-width: 480px) {

  .filter-select,
  #keyword {
    width: 95%;
  }

  .filter-select {
    left: 2.5%;
  }

  #keyword-button {
    right: 3.5%
  }
}


.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 25px 0px;
}

.content * {
  margin: 3px 0px;
}

.link {
  font-size: 1.5rem;
  width: fit-content;
  /* margin-right: 0 !important; */
}

.desscription {
  color: #717171;
}